.landing-page {
  background-image: url("/public/images/background_image.webp");
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.overlay {
  width: 100%;
  height: 100%;
}

/* ===== Navbar Styles ===== */
#navbar {
  background-color: #fcb600 !important;
}

#addRestaurantBTN:hover {
  background-color: #212529;
}

#addRestaurantBTN {
  color: white;
  background-color: #212529;
  transition: all 0.2s ease;
}

/* ===== Navbar Layout ===== */
.navbar {
  padding-top: 20px;
}

.logo {
  height: 50px;
  margin-right: 10px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-text {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  width: 150px;
  text-align: left;
  font-weight: 700;
  color: #000000;
}

/* ===== Hero Section ===== */
.hero-section {
  position: relative;
  top: 23%;
  transform: translateY(-50%);
  color: #000000;
}

.hero-section h1 {
  font-size: 64px;
}

.hero-section p {
  font-size: 20px;
  padding: 7px;
}

#explore-button {
  padding: 12px 64px;
  transition: all 0.2s ease;
}

#explore-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* ===== Space Section ===== */
.space {
  padding: 3%;
  background-color: rgb(249 180 0 / 0%);
}

/* ===== Responsive Styles ===== */
@media (max-width: 768px) {
  .main-heading {
    font-size: 32px;
  }

  .sub-heading {
    font-size: 18px;
  }

  .explore-button {
    font-size: 16px;
    padding: 8px 16px;
  }
}

@media (max-width: 550px) {
  .space {
    padding: 10%;
    background-color: rgba(17, 17, 16, 0);
  }

  #addRestaurantBTN {
    font-size: smaller;
    padding: 7px;
  }

  .hero-section h1 {
    font-size: 48px;
  }

  .logo-container {
    font-size: smaller;
    width: 180px;
  }
}